/* css styles */

body {
  font-family: "Muli", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: #212529;
  padding-top: 3.5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  text-transform: uppercase;
  color: #343a40;
}

h1 {
  font-size: 6rem;
  line-height: 5.5rem;
}

h2 {
  font-size: 2.15rem;
}

h3 {
  font-size: 1.75rem;
}

h3 {
  color: #e74c3c;
}

h4 {
  color: #2e455a;
}

a:hover {
  -moz-transition: color 0.2s ease-in-out;
  -webkit-transition: color 0.2s ease-in-out;
  -ms-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #e74c3c;
  border: 2px solid #e74c3c;
}

::-webkit-scrollbar-track {
  background-color: #ccc;
}

.container {
  padding-right: 26px !important;
  padding-left: 30px !important;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  font-weight: 500;
  font-size: 1.2rem;
}

.social-icons {
  width: 100%;
  list-style-type: none;
  padding-left: 0;
}

.social-icons li {
  display: inline-block;
}

.social-icons a {
  display: inline-block;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #495057;
  color: #fff !important;
  border-radius: 100%;
  text-align: center;
  font-size: 1.5rem;
  line-height: 2.5rem;
  margin-right: 1rem;
}

.social-icons a:hover {
  filter: brightness(0.9);
}

.dev-icons {
  font-size: 3rem;
}

.fa-npm {
  color: #cc3534;
}

.card {
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
}

.card:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.card-text {
  color: #868e96;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.repo .repo-action .fab {
  font-size: 1.5rem;
  color: black;
}

.repo .repo-action .fa-star::before {
  color: #ffc107;
}

.github-source .fa-github {
  color: black;
  margin-right: 5px;
}

.navbar {
  box-shadow: #00000026 0px 1px 4px 0px;
  background-color: #fff;
}

.navbar-light .navbar-toggler {
  border: none;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
  transition: all 250ms ease-in-out 0s;
  background-image: url("../images/close.svg");
}

.navbar-toggler[aria-expanded="false"] .navbar-toggler-icon {
  transition: all 250ms ease-in-out 0s;
  background-image: url("../images/toggler.svg");
}

.header-cover {
  display: flex;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-weight: 600;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

.navbar .navbar-toggler:focus {
  outline-color: #e74c3c;
}

section.main-section {
  padding-top: 5rem !important;
  padding-bottom: 5rem !important;
}

@media (min-width: 992px) {
  .main {
    max-width: 750px;
  }
}

@media (min-width: 768px) {
  section.main-section {
    min-height: 100vh;
  }

  section.main-section .resume-item .resume-date {
    min-width: 18rem;
  }
}

@media (min-width: 992px) {
  section.main-section {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}
